################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/IceRescue/CopilotIndices/17.14.1231.31060
/.vs/IceRescue
*.json
*.sqlite
/prj/IceRescue/x64/Debug
/prj/x64/Debug
/prj/.vs/IceRescue/FileContentIndex
.vs/
*.ipch
*.suo
*.VC.db
*.opendb
*.zip